@font-face {
    font-family: Square;
    src: url('../fonts/SQUARE.TTF');
}

html,
body {
    height: 100%;
    background-color: $dark-gray-light;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1em !important;
    font-family: Square;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

* {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.col-0 {
    width: 0 !important;
}

.main-container {
    height: inherit;
    padding-right: 0;
    padding-left: 0;
    user-select: none;
    &>* {
        user-select: none;
    }
    .row {
        margin: none;
    }
    #left-container,
    #right-container {
        background-color: $dark-gray-darker;
        height: inherit;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
        overflow: hidden;
        transition: width 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #left-container {
        left: 0;
    }
    #right-container {
        right: 0;
    }
    #middle-container {
        padding-right: 0;
        padding-left: 0;
    }
}

.section {
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

#section0 {
    height: 100vh;
}

.screen_section_view {
    height: 100vh;
}

#bg_color {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.section_container {
    text-align: center;
    opacity: 0;
    transform: translateY(150px);
    transition: all 1s ease-in-out;
    margin: 0 5%;
    &.fade-in {
        opacity: 1;
        transform: translateY(0px);
    }
}