.section_icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

// COLORS
@mixin icon-mixin($fillColor) {
    .icon_about,
    .icon_art,
    .icon_contacts,
    .icon_development,
    .icon_media {
        fill: $fillColor;
    }
}

.section0,
.section1 {
    @include icon-mixin($dark-gray-light);
}

.section2 {
    @include icon-mixin($sun-flower-light);
}

.section3 {
    @include icon-mixin($mint-light);
}

.section4 {
    @include icon-mixin($lavander-light);
}

.section5 {
    @include icon-mixin($pink-rose-light);
}