.company_logo {
    width: 600px;
    height: 600px;
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .logo_title {
        opacity: 0;
        font-size: 750%;
        text-transform: uppercase;
        color: $dark-gray-light;
        margin: 0;
    }
}

//LOGO COLOR
.section0 .logo_background,
.section1 .logo_background {
    fill: $dark-gray-light !important;
}

.section0 .logo_letters,
.section1 .logo_letters {
    fill: $dark-gray-darker !important;
}

.section2 .logo_background {
    fill: $grape-fruit-light !important;
}

.section2 .logo_letters {
    fill: $grape-fruit-darker !important;
}

.section3 #bg_color .circle span {
    background: $lavander-darker !important;
}

.section4 #bg_color .circle span {
    background: $grape-fruit-darker !important;
}

//TITLE COLOR
.section0 .logo_title,
.section1 .logo_title {
    color: $dark-gray-light !important;
}

.section2 .logo_title {
    color: $grape-fruit-light !important;
}

.section3 .logo_title {
    color: $mint-light !important;
}

.section4 .logo_title {
    color: $lavander-light !important;
}