.section_list {
    width: 100%;
}

.category_selected {
    z-index: 10;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 33.333333%;
    display: none;
    padding: 50px;
    .category_selected_element {
        width: 250px;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.section0 #middle-container,
.section1 #middle-container {
    background: $dark-gray-light !important;
}

.section2 #middle-container {
    background: $grape-fruit-light !important;
}

.section3 #middle-container {
    background: $sun-flower-light !important;
}

.section4 #middle-container {
    background: $blue-jeans-light !important;
}