//overrides the bootstrap behaviors
#navbar-scroll-spy {
    text-align: center;
    position: relative;
    top: 4%;
    z-index: 1000;
}

.nav {
    display: inline-block;
    margin-right: auto;
}

.nav>li>a {
    padding: 0;
}

.nav-tabs>li>a {
    border: none;
}

.nav-tabs>li.active>a .square {
    background-color: green;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
    background-color: transparent;
}

.nav-tabs>li>a:hover {
    background-color: transparent;
}

.positioning {
    border: none;
}

.section0 .square,
.section1 .square {
    background: $dark-gray-light !important;
    &:hover {
        background-color: black !important;
    }
}

.section0 .nav-tabs>li.active>a .square,
.section1 .nav-tabs>li.active>a .square {
    background-color: black !important;
}

.section2 .square {
    background: $grass-light !important;
    &:hover {
        background-color: $grape-fruit-light !important;
    }
}

.section2 .nav-tabs>li.active>a .square {
    background-color: $grape-fruit-light !important;
}

.section3 .square {
    background: $lavander-light !important;
    &:hover {
        background-color: $mint-light !important;
    }
}

.section3 .nav-tabs>li.active>a .square {
    background-color: $mint-light !important;
}

.section4 .square {
    background: $blue-jeans-light !important;
    &:hover {
        background-color: $aqua-darker !important;
    }
}

.section4 .nav-tabs>li.active>a .square {
    background-color: $grass-light !important;
}

.tooltip-pager {
    position: relative;
    display: inline-block;
    .tooltiptext {
        visibility: hidden;
        width: 80px;
        height: 80px;
        line-height: 70px;
        left: 50%;
        margin-left: -50px;
        font-family: 'Alegreya SC', Georgia, serif;
        font-weight: 700;
        font-style: italic;
        font-size: 14px;
        color: black;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        border: 2px solid #fff;
        background: rgba(255, 255, 255, 0.5);
        text-indent: 0px;
        position: absolute;
        pointer-events: none;
        border-radius: 50%;
        bottom: -40px;
        opacity: 0;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
        transform: scale(0.2);
        transition: all 0.3s ease-in-out;
        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
        opacity: 0.9;
        bottom: -90px;
        left: 20px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}