#right-container {
    &.col-md-8 {
        >.section_logo_title {
            display: none;
        }
    }
    &.col-md-4 {
        >.section_logo_title {
            display: block;
        }
    }
}

.section_logo_title {
    position: relative;
    top: 50%;
    z-index: 1000;
    .section_title {
        font-size: 48px;
        color: $dark-gray-light;
        text-transform: uppercase;
    }
    .section_moving_div {
        position: relative;
        display: block;
        transform: translateX(200%);
        transform-origin: bottom left;
        &.right_animation_container_in {
            animation: logo_title_animation_in 0.75s linear;
            animation-fill-mode: forwards;
            transform: translateX(0);
        }
        &.right_animation_container_out {
            animation: logo_title_animation_out 0.75s linear;
            animation-fill-mode: forwards;
        }
        //HACER MEDIA QUERIES
        .right_section_logo {
            margin: 0 auto;
            max-width: 354px;
            max-height: 420px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    & h1 {
        text-align: center;
    }
}

//Animation when users selects a Works category
.selected_category {
    width: 100%;
    left: 33.33333333%;
}

//TITLE COLOR
.section0 .section_title,
.section1 .section_title {
    color: $dark-gray-light !important;
}

.section2 .section_title {
    color: $grape-fruit-light !important;
}

.section3 .section_title {
    color: $mint-light !important;
}

.section4 .section_title {
    color: $lavander-light !important;
}

@keyframes logo_title_animation_in {
    0% {
        transform: translateX(150%);
    }
    30% {
        transform: translateX(-25%);
    }
    35% {
        transform: translateX(-25%) scale(0.5, 1.1);
    }
    38% {
        transform: translateX(-25%) scale(0.75, 1);
    }
    41% {
        transform: translateX(-25%) scale(0.5, 1.1);
    }
    44% {
        transform: translateX(-20%) scale(0.5, 1.1);
    }
    47% {
        transform: translateX(0) scale(1, 1);
    }
    100% {
        transform: translateX(0) scale(1, 1);
    }
}

@keyframes logo_title_animation_out {
    0% {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1, 1);
    }
    35% {
        transform: translateX(-25%) scale(0.5, 1.1);
    }
    38% {
        transform: translateX(-25%) scale(0.75, 1);
    }
    41% {
        transform: translateX(-20%) scale(0.5, 1.1);
    }
    44% {
        transform: translateX(-25%) scale(0.5, 1.1);
    }
    47% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(150%);
    }
}