@font-face {
  font-family: Square;
  src: url("../fonts/SQUARE.TTF"); }

html,
body {
  height: 100%;
  background-color: #656D78;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1em !important;
  font-family: Square; }

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll; }

* {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important; }

.col-0 {
  width: 0 !important; }

.main-container {
  height: inherit;
  padding-right: 0;
  padding-left: 0;
  user-select: none; }
  .main-container > * {
    user-select: none; }
  .main-container .row {
    margin: none; }
  .main-container #left-container,
  .main-container #right-container {
    background-color: #434A54;
    height: inherit;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    overflow: hidden;
    transition: width 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .main-container #left-container {
    left: 0; }
  .main-container #right-container {
    right: 0; }
  .main-container #middle-container {
    padding-right: 0;
    padding-left: 0; }

.section {
  text-align: center;
  color: #FFFFFF;
  position: relative; }

#section0 {
  height: 100vh; }

.screen_section_view {
  height: 100vh; }

#bg_color {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0; }

.section_container {
  text-align: center;
  opacity: 0;
  transform: translateY(150px);
  transition: all 1s ease-in-out;
  margin: 0 5%; }
  .section_container.fade-in {
    opacity: 1;
    transform: translateY(0px); }

#bg_color,
#bg_color_left,
#bg_color_right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  overflow: hidden; }
  #bg_color .circle,
  #bg_color_left .circle,
  #bg_color_right .circle {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    width: 0;
    opacity: 1;
    top: 50%;
    left: 50%; }
    #bg_color .circle img,
    #bg_color_left .circle img,
    #bg_color_right .circle img {
      display: block;
      float: left;
      width: 100%;
      height: 100%; }
    #bg_color .circle span,
    #bg_color_left .circle span,
    #bg_color_right .circle span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      will-change: width, height;
      border-radius: 100%; }
  #bg_color.section0, #bg_color.section1,
  #bg_color_left.section0,
  #bg_color_left.section1,
  #bg_color_right.section0,
  #bg_color_right.section1 {
    background-color: #434A54; }
  #bg_color.section2,
  #bg_color_left.section2,
  #bg_color_right.section2 {
    background-color: #8CC152; }
  #bg_color.section3,
  #bg_color_left.section3,
  #bg_color_right.section3 {
    background-color: #967ADC; }

.section0 #bg_color .circle span,
.section1 #bg_color .circle span {
  background: #434A54 !important; }

.section0 #bg_color_left .circle span,
.section1 #bg_color_left .circle span {
  background: #434A54 !important; }

.section0 #bg_color_right .circle span,
.section1 #bg_color_right .circle span {
  background: #434A54 !important; }

.section2 #bg_color .circle span {
  background: #8CC152 !important; }

.section2 #bg_color_left .circle span {
  background: #8CC152 !important; }

.section2 #bg_color_right .circle span {
  background: #8CC152 !important; }

.section3 #bg_color .circle span {
  background: #967ADC !important; }

.section3 #bg_color_left .circle span {
  background: #967ADC !important; }

.section3 #bg_color_right .circle span {
  background: #967ADC !important; }

.section4 #bg_color .circle span {
  background: #DA4453 !important; }

.section4 #bg_color_left .circle span {
  background: #DA4453 !important; }

.section4 #bg_color_right .circle span {
  background: #DA4453 !important; }

.animated_circle {
  width: 240% !important; }

#navbar-scroll-spy {
  text-align: center;
  position: relative;
  top: 4%;
  z-index: 1000; }

.nav {
  display: inline-block;
  margin-right: auto; }

.nav > li > a {
  padding: 0; }

.nav-tabs > li > a {
  border: none; }

.nav-tabs > li.active > a .square {
  background-color: green; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
  background-color: transparent; }

.nav-tabs > li > a:hover {
  background-color: transparent; }

.positioning {
  border: none; }

.section0 .square,
.section1 .square {
  background: #656D78 !important; }
  .section0 .square:hover,
  .section1 .square:hover {
    background-color: black !important; }

.section0 .nav-tabs > li.active > a .square,
.section1 .nav-tabs > li.active > a .square {
  background-color: black !important; }

.section2 .square {
  background: #A0D468 !important; }
  .section2 .square:hover {
    background-color: #ED5564 !important; }

.section2 .nav-tabs > li.active > a .square {
  background-color: #ED5564 !important; }

.section3 .square {
  background: #AC92EC !important; }
  .section3 .square:hover {
    background-color: #48CFAD !important; }

.section3 .nav-tabs > li.active > a .square {
  background-color: #48CFAD !important; }

.section4 .square {
  background: #5D9CEC !important; }
  .section4 .square:hover {
    background-color: #3BAFDA !important; }

.section4 .nav-tabs > li.active > a .square {
  background-color: #A0D468 !important; }

.tooltip-pager {
  position: relative;
  display: inline-block; }
  .tooltip-pager .tooltiptext {
    visibility: hidden;
    width: 80px;
    height: 80px;
    line-height: 70px;
    left: 50%;
    margin-left: -50px;
    font-family: 'Alegreya SC', Georgia, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.5);
    text-indent: 0px;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    transform: scale(0.2);
    transition: all 0.3s ease-in-out; }
    .tooltip-pager .tooltiptext::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent; }
  .tooltip-pager:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
    bottom: -90px;
    left: 20px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.vertical .carousel-inner {
  height: 100%; }

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top; }

.carousel.vertical .active {
  top: 0; }

.carousel.vertical .next {
  top: 400px; }

.carousel.vertical .prev {
  top: -400px; }

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0; }

.carousel.vertical .active.left {
  top: -400px; }

.carousel.vertical .active.right {
  top: 400px; }

.carousel.vertical .item {
  left: 0; }

.image_list {
  width: inherit;
  display: block; }
  .image_list .item {
    position: relative;
    display: block; }
    .image_list .item img {
      display: block;
      max-width: 100%;
      height: auto;
      border-style: none;
      border: 0; }

#slick-component {
  width: 70%;
  margin: 0 auto; }
  #slick-component .slick-item {
    display: block;
    max-width: 100%;
    height: auto; }

#right-container.col-md-8 > .section_logo_title {
  display: none; }

#right-container.col-md-4 > .section_logo_title {
  display: block; }

.section_logo_title {
  position: relative;
  top: 50%;
  z-index: 1000; }
  .section_logo_title .section_title {
    font-size: 48px;
    color: #656D78;
    text-transform: uppercase; }
  .section_logo_title .section_moving_div {
    position: relative;
    display: block;
    transform: translateX(200%);
    transform-origin: bottom left; }
    .section_logo_title .section_moving_div.right_animation_container_in {
      animation: logo_title_animation_in 0.75s linear;
      animation-fill-mode: forwards;
      transform: translateX(0); }
    .section_logo_title .section_moving_div.right_animation_container_out {
      animation: logo_title_animation_out 0.75s linear;
      animation-fill-mode: forwards; }
    .section_logo_title .section_moving_div .right_section_logo {
      margin: 0 auto;
      max-width: 354px;
      max-height: 420px; }
      .section_logo_title .section_moving_div .right_section_logo img {
        width: 100%;
        height: 100%; }
  .section_logo_title h1 {
    text-align: center; }

.selected_category {
  width: 100%;
  left: 33.33333333%; }

.section0 .section_title,
.section1 .section_title {
  color: #656D78 !important; }

.section2 .section_title {
  color: #ED5564 !important; }

.section3 .section_title {
  color: #48CFAD !important; }

.section4 .section_title {
  color: #AC92EC !important; }

@keyframes logo_title_animation_in {
  0% {
    transform: translateX(150%); }
  30% {
    transform: translateX(-25%); }
  35% {
    transform: translateX(-25%) scale(0.5, 1.1); }
  38% {
    transform: translateX(-25%) scale(0.75, 1); }
  41% {
    transform: translateX(-25%) scale(0.5, 1.1); }
  44% {
    transform: translateX(-20%) scale(0.5, 1.1); }
  47% {
    transform: translateX(0) scale(1, 1); }
  100% {
    transform: translateX(0) scale(1, 1); } }

@keyframes logo_title_animation_out {
  0% {
    transform: scale(1, 1); }
  30% {
    transform: scale(1, 1); }
  35% {
    transform: translateX(-25%) scale(0.5, 1.1); }
  38% {
    transform: translateX(-25%) scale(0.75, 1); }
  41% {
    transform: translateX(-20%) scale(0.5, 1.1); }
  44% {
    transform: translateX(-25%) scale(0.5, 1.1); }
  47% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(150%); } }

.company_logo {
  width: 600px;
  height: 600px;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .company_logo .logo_title {
    opacity: 0;
    font-size: 750%;
    text-transform: uppercase;
    color: #656D78;
    margin: 0; }

.section0 .logo_background,
.section1 .logo_background {
  fill: #656D78 !important; }

.section0 .logo_letters,
.section1 .logo_letters {
  fill: #434A54 !important; }

.section2 .logo_background {
  fill: #ED5564 !important; }

.section2 .logo_letters {
  fill: #DA4453 !important; }

.section3 #bg_color .circle span {
  background: #967ADC !important; }

.section4 #bg_color .circle span {
  background: #DA4453 !important; }

.section0 .logo_title,
.section1 .logo_title {
  color: #656D78 !important; }

.section2 .logo_title {
  color: #ED5564 !important; }

.section3 .logo_title {
  color: #48CFAD !important; }

.section4 .logo_title {
  color: #AC92EC !important; }

.about_us_container {
  position: relative;
  top: 50%;
  text-align: center;
  opacity: 0;
  transform: translateY(15%);
  transition: all 0.5s ease-in-out;
  -webkit-animation: bounce 0.5s;
  animation: bounce 0.5s;
  margin: 0 12%; }
  .about_us_container.fade-in {
    opacity: 1;
    transition: all 0.5s ease-in-out 0.4s;
    transform: translateY(0); }

.category_list {
  text-align: center;
  opacity: 0;
  margin: 0 12%;
  transform: translateY(150px);
  transition: all 1.5s ease-in-out; }
  .category_list.fade-in {
    opacity: 1;
    transform: translateY(0px); }
  .category_list .category_item {
    width: inherit;
    margin: 10% 0;
    position: relative;
    overflow: hidden; }
    .category_list .category_item:hover svg {
      width: 120px;
      height: 120px; }
    .category_list .category_item:hover .category_title {
      width: 120px;
      height: 120px; }
    .category_list .category_item img {
      width: 100%; }
    .category_list .category_item svg {
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      width: 90px;
      height: 90px;
      transition: width 250ms, height 250ms;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .category_list .category_item .category_title {
      text-align: center;
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      width: 90px;
      height: 90px;
      transition: all 250ms linear; }
      .category_list .category_item .category_title .category_title_center {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 95%;
        font-size: 1.5em;
        word-wrap: break-word;
        transform: translate(-50%, -50%); }

.section1 .svg_coner_element {
  --primary-color: #434A54;
  --secondary-color: #656D78; }

.section2 .svg_coner_element {
  --primary-color: #DA4453;
  --secondary-color: #ED5564; }

.section3 .svg_coner_element {
  --primary-color: #F6BB42;
  --secondary-color: #FFCE54; }

.section4 .svg_coner_element {
  --primary-color: #4A89DC;
  --secondary-color: #5D9CEC; }

.section_icon {
  height: 40px;
  width: 40px;
  cursor: pointer; }

.section0 .icon_about,
.section0 .icon_art,
.section0 .icon_contacts,
.section0 .icon_development,
.section0 .icon_media,
.section1 .icon_about,
.section1 .icon_art,
.section1 .icon_contacts,
.section1 .icon_development,
.section1 .icon_media {
  fill: #656D78; }

.section2 .icon_about,
.section2 .icon_art,
.section2 .icon_contacts,
.section2 .icon_development,
.section2 .icon_media {
  fill: #FFCE54; }

.section3 .icon_about,
.section3 .icon_art,
.section3 .icon_contacts,
.section3 .icon_development,
.section3 .icon_media {
  fill: #48CFAD; }

.section4 .icon_about,
.section4 .icon_art,
.section4 .icon_contacts,
.section4 .icon_development,
.section4 .icon_media {
  fill: #AC92EC; }

.section5 .icon_about,
.section5 .icon_art,
.section5 .icon_contacts,
.section5 .icon_development,
.section5 .icon_media {
  fill: #EC87C0; }

.section_list {
  width: 100%; }

.category_selected {
  z-index: 10;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 33.333333%;
  display: none;
  padding: 50px; }
  .category_selected .category_selected_element {
    width: 250px;
    height: 150px; }
    .category_selected .category_selected_element img {
      width: 100%;
      height: 100%; }

.section0 #middle-container,
.section1 #middle-container {
  background: #656D78 !important; }

.section2 #middle-container {
  background: #ED5564 !important; }

.section3 #middle-container {
  background: #FFCE54 !important; }

.section4 #middle-container {
  background: #5D9CEC !important; }

.header {
  padding: 14px 0;
  background-color: #131111;
  background-color: #006a3f;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%), radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%);
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%), -webkit-radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%), -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%);
  background-position: 0 0px, 4px 4px, 0 1px, 4px 5px;
  background-size: 8px 8px;
  border-bottom: 1px solid #292929; }

.header div.float-left {
  padding-left: 2%; }

.header a {
  font-size: 35px;
  color: white;
  display: block; }

.header a:first-letter {
  font-size: 60px;
  line-height: 40px;
  font-weight: bold; }

.header .target {
  margin-left: 5px;
  margin-bottom: 20px; }

.header .reponsive-block {
  list-style: none;
  margin: 0px;
  padding: 50px 2% 0 0; }

.header .reponsive-block li {
  display: inline-block;
  float: left; }

.header .reponsive-block a {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  background: url(../i/reponsive.png) no-repeat; }

.header .reponsive-block a.desktop {
  background-position: 3px 0;
  width: 34px;
  height: 26px; }

.header .reponsive-block a.tablet-landscape {
  background-position: -49px 0;
  width: 22px;
  height: 22px; }

.header .reponsive-block a.tablet-portrait {
  background-position: -90px 0;
  width: 18px;
  height: 24px; }

.header .reponsive-block a.iphone-landscape {
  background-position: -129px 0;
  width: 20px;
  height: 20px; }

.header .reponsive-block a.iphone-portrait {
  background-position: -166px 0;
  width: 16px;
  height: 26px; }

.header .reponsive-block a.desktop:hover,
.header .reponsive-block a.desktop.active {
  background-position: 3px -34px; }

.header .reponsive-block a.tablet-landscape:hover,
.header .reponsive-block a.tablet-landscape.active {
  background-position: -49px -34px; }

.header .reponsive-block a.tablet-portrait:hover,
.header .reponsive-block a.tablet-portrait.active {
  background-position: -91px -33px; }

.header .reponsive-block a.iphone-landscape:hover,
.header .reponsive-block a.iphone-landscape.active {
  background-position: -128px -33px; }

.header .reponsive-block a.iphone-portrait:hover,
.header .reponsive-block a.iphone-portrait.active {
  background-position: -166px -33px; }

.free-wall {
  margin: auto; }

.free-wall-logo {
  margin: auto;
  height: 420px; }

.size2-2 {
  width: 80px;
  height: 80px; }

.size11 {
  height: 160px;
  width: 160px; }

.size12 {
  width: 160px;
  height: 320px; }

.size21 {
  width: 320px;
  height: 160px; }

.size22 {
  height: 320px;
  width: 320px; }

.size13 {
  width: 160px;
  height: 480px; }

.size31 {
  width: 480px;
  height: 160px; }

.size23 {
  width: 320px;
  height: 480px; }

.size24 {
  width: 320px;
  height: 640px; }

.size32 {
  width: 480px;
  height: 320px; }

.size33 {
  width: 480px;
  height: 480px; }

.size34 {
  width: 480px;
  height: 640px; }

.size43 {
  width: 640px;
  height: 480px; }

.size35 {
  width: 480px;
  height: 800px; }

.size53 {
  width: 800px;
  height: 480px; }

.size36 {
  width: 480px;
  height: 960px; }

.donate form {
  height: 100%;
  width: 100%;
  background: #2c3e50; }

.donate form .paypal {
  display: block;
  margin: auto;
  padding: 20px 0px 0px 0px;
  outline: 0; }

.img-demo {
  vertical-align: bottom;
  list-style: none;
  margin: 0;
  padding: 0; }

.img-demo li {
  float: left;
  width: 25%;
  text-align: center; }

.img-demo li img {
  border: 2px solid white;
  width: 98px;
  height: 98px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

.rest-left {
  margin-left: 244px; }

.desc h1,
.desc h2,
.desc h3,
.desc h4,
.desc h5,
.desc h6 {
  font-weight: bold; }

.desc h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px; }

.desc h2 span {
  float: left;
  display: block;
  line-height: 50px; }

.brick {
  background-color: white;
  float: left;
  cursor: default;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.brick .cover {
  overflow: hidden;
  margin: 20px; }

.brick .read-more {
  position: absolute;
  display: none;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 12px;
  background: black;
  background: rgba(0, 0, 0, 0.45); }

.brick:hover .read-more {
  display: block;
  cursor: pointer; }

.brick .desc {
  display: none; }

.full-width .float-left {
  display: none; }

.full-width .desc {
  display: block; }

.full-width.brick {
  box-shadow: none;
  overflow: visible;
  border: none !important;
  background: none !important; }

.full-width.brick .cover {
  margin: 0px 20px;
  color: #333; }

.full-width.brick .cover * {
  text-shadow: none; }

.full-width.brick .cover code {
  color: #666; }

.open .float-left {
  display: none; }

.open .desc {
  display: block; }

.example {
  width: 0px;
  height: 0px;
  overflow: visible !important;
  /* for ie7 */ }

.example-draggable {
  cursor: move; }

.example-draggable * {
  cursor: move; }

.example-draggable a {
  cursor: pointer; }

.cell {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: #222; }

[class*="-share"] {
  cursor: pointer;
  margin: 20px 0;
  line-height: 30px;
  padding-left: 30px; }

.facebook-share {
  background: url(../i/fb.png) no-repeat left center; }

.twitter-share {
  background: url(../i/tw.png) no-repeat left center; }

.google-share {
  background: url(../i/gp.png) no-repeat left center; }

.download-icon {
  background: url(../i/download.png) no-repeat left center;
  display: block;
  margin: 0 0 10px 0;
  line-height: 30px;
  padding-left: 30px; }

.js-icon {
  background: url(../i/js.png) no-repeat left center;
  display: block;
  line-height: 30px;
  padding-left: 30px; }

.fork {
  float: right;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../i/forkme.png) no-repeat top right; }

.back-button {
  position: fixed;
  z-index: 9999;
  padding: 1%;
  bottom: 2%;
  right: 2%;
  display: none;
  background: black; }

.back-button .back-icon {
  background: url(../i/back.png) no-repeat top center;
  width: 45px;
  height: 27px;
  display: block; }

.back-button .back-icon:hover {
  background: url(../i/back.png) no-repeat bottom center; }
