$grape-fruit-light: #ED5564;
$grape-fruit-darker: #DA4453;
$grape-fruit-over: #FC657B;
$bitter-sweet-light: #FC6E51;
$bitter-sweet-darker: #E9573F;
$sun-flower-light: #FFCE54;
$sun-flower-darker: #F6BB42;
$sun-flower-over: #EEA638;
$grass-light: #A0D468;
$grass-darker: #8CC152;
$mint-light: #48CFAD;
$mint-darker: #37BC9B;
$mint-darker: #53E0BB;
$aqua-light: #4FC1E9;
$aqua-darker: #3BAFDA;
$blue-jeans-light: #5D9CEC;
$blue-jeans-darker: #4A89DC;
$lavander-light: #AC92EC;
$lavander-darker: #967ADC;
$pink-rose-light: #EC87C0;
$pink-rose-darker: #D770AD;
$light-gray-light: #F5F7FA;
$light-gray-darker: #E6E9ED;
$medium-gray-light: #CCD1D9;
$medium-gray-darker: #AAB2BD;
$dark-gray-light: #656D78;
$dark-gray-darker: #434A54;
$dark-gray-over: #747D87;