.vertical .carousel-inner {
    height: 100%;
}

.carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 400px;
}

.carousel.vertical .prev {
    top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .active.left {
    top: -400px;
}

.carousel.vertical .active.right {
    top: 400px;
}

.carousel.vertical .item {
    left: 0;
}

.image_list {
    width: inherit;
    display: block;
    .item {
        position: relative;
        display: block;
        img {
            display: block;
            max-width: 100%;
            height: auto;
            border-style: none;
            border: 0;
        }
    }
}

#slick-component {
    width: 70%;
    margin: 0 auto;
    .slick-item {
        display: block;
        max-width: 100%;
        height: auto;
    }
}