.category_list {
    text-align: center;
    opacity: 0;
    margin: 0 12%;
    transform: translateY(150px);
    transition: all 1.5s ease-in-out;
    &.fade-in {
        opacity: 1;
        transform: translateY(0px);
    }
    .category_item {
        width: inherit;
        margin: 10% 0;
        position: relative;
        overflow: hidden;
        &:hover {
            svg {
                width: 120px;
                height: 120px;
            }
            .category_title {
                width: 120px;
                height: 120px;
            }
        }
        img {
            width: 100%;
        }
        svg {
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 90px;
            height: 90px;
            transition: width 250ms, height 250ms;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .category_title {
            text-align: center;
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 90px;
            height: 90px;
            transition: all 250ms linear;
            .category_title_center {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 95%;
                font-size: 1.5em;
                word-wrap: break-word;
                transform: translate(-50%, -50%);
            }
        }
    }
}

//CORNER COLOR
.section1 .svg_coner_element {
    --primary-color: $dark-gray-darker;
    --secondary-color: $dark-gray-light;
}

.section2 .svg_coner_element {
    --primary-color: $grape-fruit-darker;
    --secondary-color: $grape-fruit-light;
}

.section3 .svg_coner_element {
    --primary-color: $sun-flower-darker;
    --secondary-color: $sun-flower-light;
}

.section4 .svg_coner_element {
    --primary-color: $blue-jeans-darker;
    --secondary-color: $blue-jeans-light;
}