.about_us_container {
    position: relative;
    top: 50%;
    text-align: center;
    opacity: 0;
    transform: translateY(15%);
    transition: all 0.5s ease-in-out;
    -webkit-animation: bounce 0.5s;
    animation: bounce 0.5s;
    margin: 0 12%;
    &.fade-in {
        opacity: 1;
        transition: all 0.5s ease-in-out 0.4s;
        transform: translateY(0);
    }
}